affine==2.3.0
alabaster==0.7.12
aniso8601==9.0.1
anyio==3.3.3
argon2-cffi==21.1.0
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
black==21.8b0
bleach==4.1.0
bokeh==2.3.0
boto3==1.19.4
botocore==1.22.4
bqplot==0.12.31
branca==0.4.2
certifi==2021.5.30
cffi==1.14.6
cfgv==3.3.1
charset-normalizer==2.0.6
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
codespell==2.1.0
colour==0.1.5
coverage==5.5
cycler==0.10.0
dask==2021.4.0
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
distributed==2021.4.0
dnspython==2.1.0
doc8==0.9.0
docutils==0.17.1
email-validator==1.1.3
entrypoints==0.3
filelock==3.1.0
Fiona==1.8.20
flake8==3.9.2
Flask==1.1.2
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-RESTful==0.3.9
Flask-WTF==0.15.1
folium==0.12.1
fsspec==0.9.0
gdal2tiles==0.1.9
geojson==2.5.0
geomet==0.3.0
geopandas==0.10.0
googledrivedownloader==0.4
HeapDict==1.0.1
here-map-widget-for-jupyter==1.1.2
html2text==2020.1.16
identify==2.2.15
idna==3.2
imageio==2.10.1
imagesize==1.2.0
iniconfig==1.1.1
ipyevents==0.9.0
ipyfilechooser==0.6.0
ipykernel==6.4.1
ipyleaflet==0.14.0
ipython==7.27.0
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.6.5
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.4
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-server==1.11.1
jupyterlab==3.2.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
leafmap==0.5.0
locket==0.2.1
MarkupSafe==1.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mongoengine==0.23.1
msgpack==1.0.2
mss==6.1.0
munch==2.5.0
mypy==0.910
mypy-extensions==0.4.3
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nbsphinx==0.8.7
nest-asyncio==1.5.1
networkx==2.6.3
nodeenv==1.6.0
notebook==6.4.4
numpy==1.20.2
opencv-python==3.4.8.29
orjson==3.6.3
packaging==20.9
pandas==1.2.3
pandocfilters==1.5.0
parso==0.8.2
partd==1.1.0
pathspec==0.9.0
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
pluggy==0.13.1
pre-commit==2.15.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
PyCRS==1.0.2
pyflakes==2.3.1
pygdal==3.2.1.10
Pygments==2.10.0
pymongo==3.12.0
pyparsing==2.4.7
pyproj==3.2.1
pyrsistent==0.18.0
pyshp==2.1.3
pystac==1.1.0
pytest==6.2.3
python-box==5.4.1
python-dateutil==2.7.5
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
rasterio==1.2.10
regex==2021.9.24
requests==2.26.0
requests-unixsocket==0.2.0
restructuredtext-lint==1.3.2
s3transfer==0.5.0
sat-search==0.3.0
sat-stac==0.4.1
scikit-image==0.18.3
scipy==1.7.1
Send2Trash==1.8.0
sentinelsat==1.1.0
Shapely==1.7.1
six==1.15.0
sniffio==1.2.0
snowballstemmer==2.1.0
snuggs==1.4.7
sortedcontainers==2.3.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==3.4.0
tblib==1.7.0
terminado==0.12.1
testpath==0.5.0
tifffile==2021.10.12
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
traittypes==0.2.1
types-orjson==3.6.0
types-python-dateutil==2.8.0
typing-extensions==3.7.4.3
urllib3==1.26.7
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==1.0.1
whitebox==2.0.3
whiteboxgui==0.6.0
widgetsnbextension==3.5.1
WTForms==2.3.3
xyzservices==2021.9.1
zict==2.0.0
